
@font-face {
    font-family: fuenteEspecial;
    src: url(../fonts/Alphakind.ttf);
}

@font-face {
    font-family: fuenteTexto;
    src: url(../fonts/MusticaPro-SemiBold.otf);
}

body, #degradado{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    font-family: fuenteEspecial;
    color: #24194a;
    font-size: 1.2em;

    display: grid;
    grid-template-columns: auto;
    gap: 15px;

    /* Fondo cuadicula */
    background-color: #c1c1e5;
    opacity: 1;
    background-image:  linear-gradient(#adadde 4.6000000000000005px, transparent 4.6000000000000005px), linear-gradient(90deg, #adadde 4.6000000000000005px, transparent 4.6000000000000005px), linear-gradient(#adadde 2.3000000000000003px, transparent 2.3000000000000003px), linear-gradient(90deg, #adadde 2.3000000000000003px, #c1c1e5 2.3000000000000003px);
    background-size: 115px 115px, 115px 115px, 23px 23px, 23px 23px;
    background-position: -4.6000000000000005px -4.6000000000000005px, -4.6000000000000005px -4.6000000000000005px, -2.3000000000000003px -2.3000000000000003px, -2.3000000000000003px -2.3000000000000003px;
}

::selection{
    color: #d9bf84;
    background-color: #24194a;
}

header{
    padding: 0;
    margin: 0;
}

header div{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo{
    width: 50%;
}

section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    padding: 0;
}

footer div{
    padding: 10px;
}

.botonSecundario{
    font-size: 1.2em;
    border: #454584 solid 3px;
    border-radius: 15px;
    padding: 4px 25px;
    color: #454584;
    text-decoration: none;
    background-color:#c1c1e5 ;
    transition: all 0.5s;
    text-shadow: #24194a 1px 1px 1px;
    letter-spacing: 2px;
    text-transform: uppercase;

}


#container{
    background-image: linear-gradient(to top, transparent 10%, #c1c1e5);
    height: 100vh;
}

header{
    grid-row: 1/2;
    grid-column: 1/2;
}

.iconoRedes{
    width: 50px;
    transition:  all 0.5s;
}


section li a{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.botonPrincipal{
    width: 70%;
    transition: all 0.5s;
}

footer li{
    text-decoration: none;
    list-style: none;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

footer div{
    text-align: center;
    margin: 15px;
}


section li { 
    margin: 0;
    padding: 0;
    width: fit-content;
}

form textarea{
    resize: none;
}


.botonSecundario:hover{
    color: #d9bf84;
    background-color:#454584 ;
}

form input{
    border: #454584 solid 2px;
    border-radius: 10px;
    background-color: #c1c1e5;
    padding: 0px 5px;
    color: #24194a;
    font-family: fuenteTexto;
}

font input:focus{
    border-color:#d9bf84;
    background-color: #24194a;
}

#enviar{
    font-size: 1.2em;
    border: #454584 solid 3px;
    border-radius: 15px;
    padding: 4px 25px;
    color: #454584;
    text-decoration: none;
    background-color:#c1c1e5 ;
    transition: all 0.5s;
    font-family: fuenteEspecial;
    text-transform: uppercase;
    text-shadow: #24194a 1px 1px 1px;
    letter-spacing: 2px;
    grid-column: 1/3;
}

textarea{
    border: #454584 solid 3px;
    border-radius: 15px;
    padding: 4px 25px;
    color: #454584;
    text-decoration: none;
    background-color:#c1c1e5 ;
    font-family: fuenteTexto;
}

#formulario{
    display: grid;
    grid-template-columns: 0.3fr auto;
    gap: 25px;
    margin: 15px;
    font-family: fuenteTexto;
}

form input:nth-of-type(1){
    width:  60%;

}

form input:nth-of-type(2){
    width:  90%;
}

form input:nth-of-type(3){
    width: 40%;
}

form textarea{
    grid-column: 1/3;
}

footer img{
    width: 100px;
}

#enviar:hover{
    color: #d9bf84;
    background-color:#454584 ;
    cursor: pointer;
}

h1{
    color: #454584;
    text-shadow: #24194a 1px 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p{
    font-family: fuenteTexto;
    padding: 35px;
    text-align: justify;
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}

.galeria img{
    width: 60%;
    padding: 20px 5px;
    transition: 1s;
}

#precios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.botonPrecios{
    display: flex;
    flex-direction: column;
    align-items: center;


    margin: 5px;
    width: fit-content;
    font-size: 1em;
    border: #454584 solid 3px;
    border-radius: 15px;
    padding: 4px 10px;
    color: #d9bf84;
    text-decoration: none;
    background-color:#454584 ;
    transition: all 0.5s;
    text-shadow: #24194a 1px 1px 1px;
    letter-spacing: 2px;
    text-transform: uppercase;


    transition: all 1s;
}


.precios{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: fuenteTexto;
}




.precios article img{
    width: 50%;
    transition: all 0.5s;
}

.precios article img:hover{
    width: 70%;
}


@media screen and (max-width:549px){
    
    /* #d9bf84 #c1c1e5 #454584 #24194a*/
    
    .botonPrincipal:hover{
        width: 80%;
        filter: saturate(2);
    }

  
    
    #contacto:hover{
        border: none;
        color: #d9bf84;
        background-color:#454584 ;
    }
    
    footer{
        position: relative;
        top: 7%;
    }
    
    header img{
        margin-top: 50px;
    }
    
    .iconoRedes:hover{
        width: 55px;
    }

    h1{
        text-align: center;
    }

    .precios article:nth-of-type(even){
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
}

@media screen and (min-width: 550px) and (max-width:960px){

    #container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

    }

    .index #logo{
        margin-top: 60px;
    }

    header {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-top: 100px;
    }

    #logo{
        width: 50%;
    }

    .botonPrincipal{
        width: 100%;
    }

    .botonPrincipal:hover{
        width: 110%;
        filter: saturate(2);
    }
    

    section {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .galeria{
        margin: 60px 0px;
        grid-column: 1/3;
        grid-row: 2/3;
    }

    footer{
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .iconoRedes:hover{
        width: 55px;
    }

    #formulario{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 30%;
    }

    h1{
        margin: 20px;
        text-align: center;
    }

    p{
        position: relative;
        top: 100px;
    }

    .precios article{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .precios article img{
        width: 70%;
    }

    .precios article img:hover{
        width: 90%;
    }

    #headerPrecios {
        margin-top: 350px;
    }
    #headerPrecios img{
        width: 90%;
    }
    #headerPrecios h1{
        font-size: 3em;
    }

}

@media screen and (min-width: 960px) {

    section ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .iconoRedes:hover{
        width: 55px;
    }

    #logo{
        width: 30%;
    }


    .botonSecundario:hover{
        border: none;
        color: #d9bf84;
        background-color:#454584 ;
    }
    .botonPrincipal:hover{
        width: 80%;
        filter: saturate(2);
    }

    #formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form input:nth-of-type(1){
        width:  30%;
    
    }
    
    form input:nth-of-type(2){
        width:  40%;
    }
    
    form input:nth-of-type(3){
        width: 20%;
    }
    
    footer ul{
        justify-content: center;
       
    }
    .iconoRedes{
        margin: 20px 55px;
    }

    h1{
        text-align: center;
    }

    .galeria{
        margin: 60px;
    }
    
    p{
        text-align: center;
        font-size: 30px;
    }

    .galeria img{
        width: 20%;
    }

    .iconoRedes{
        width: 70px;
    }

    .iconoRedes:hover{
        width: 80px;
    }

    .precios article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media print {
    footer{
        display: none;
    }
}