body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 400px;


}

div.caja{
    font-size: 2em;
    color: white;
    background-color: orangered;
    margin: 5px;
    padding: 30px 65px;
    text-align: center;
}