body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
#absoluto{
    font-size: 1.5em;
    text-decoration: underline;
    color: red;
    background-color: none;
    margin-left: 5px;
    border: none;
}

span{
    font-size: 2em;
    padding: 20px;
    border: black thick solid;
}

#caja1{
    background-color: red;
}

#caja2{
    background-color: blue;
    position: absolute;
    top: 80px;
    left: 150px;
}

#caja4{
    background-color: yellow;
}

#caja3{
    background-color: green;
}

div#bloque{
    background-color: lightblue;
    border: black thick solid;
    padding: 40px;
    height: 200px;
}