.contenedor{
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

div{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}