header, footer{
    border: 2px solid gray;
    background-color: lightyellow;
    height: 100px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    flex-direction: row;
    height: 400px;
}    
nav, aside{
    background-color: lavender;
    border: 2px solid gray;
    width: 25%;
}
article{
    background-color: darkkhaki;
    border: 2px solid gray;
    width: 50%;
}




