div {
    margin: 15px 10px;
    padding: 1px 10px;
}


.recuadro1 {
    color: rgba(255, 42, 42, 0.5);
}
.recuadro2 {
    color: rgba(255, 42, 42, 0.7);
}
.recuadro3 {
    color: rgba(255, 42, 42, 0.9);
}
.recuadro4 {
    color: rgba(255, 6, 6, 1);
    background-color:rgba(83, 201, 216,1);
    border-radius: 15px;

}
.recuadro5 {
    color: rgba(255, 6, 6, 0.5);
    background-color:rgba(83, 201, 216, 0.5);
    border-radius: 15px;
}