h1{
    text-align: center;
    color: gray;
}
main{
    display: table;
    table-layout: fixed;
    margin: auto;
    width: 1000px;
}

main > div:nth-child(1){
    display: table-row;
}

main > div > div{
    display: table-cell;
    border: 2px solid gray;
    vertical-align: middle;
    text-align: center;
    color: gray;
}

main > div > div:first-of-type{
    width: 20%;
}

img{
    width: 80%;
    object-fit: cover;
}

main > div:nth-child(2){
    display: table-caption;
    caption-side: bottom;
    font-style: italic;
    text-align: center;
    color: gray;
}