ul.menu{
    margin: 0;
    padding: 0;
    border: solid 1px lightgrey;
    list-style: none;
}

.menu>li{
    border: solid 1px lightgray;
    background-color: lightcyan;
    cursor: pointer;
    float: left;
    width: 120px;
    margin: 5px;
}

.menu>li>a{
    background-image: url(../imagenes/flecha_inactiva.png);
    background-repeat: no-repeat;
    background-position: 3px center;
    color: grey;
    text-decoration: none;
    padding: .2em 0 .2em 1.5em;
    display: block;
}

.menu>li:hover{
    background-color: cyan;

}

.menu>li:hover a{
    color: white;
    background-image: url(../imagenes/flecha_activa.png);
    background-repeat: no-repeat;
    background-position: 3px center;
}