body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

img{
    margin: 10px;
}


#img2{
    filter: hue-rotate(200deg);
    transition: filter 1s;
}

#img2:hover{
    filter: none;
}

#img3{
    filter: brightness(3);
    transition: filter 1s;
}

#img3:hover{
    filter: none;
}

#img4{
    filter: contrast(10);
    transition: filter 1s;
}

#img4:hover{
    filter: none;
}

#img5{
    filter: saturate(10);
    transition: filter 1s;
}

#img5:hover{
    filter: none;
}

#img6{
    filter: invert(1);
    transition: filter 1s;
}

#img6:hover{
    filter: none;
}

#img7{
    filter: grayscale(1);
    transition: filter 1s;
}

#img7:hover{
    filter: none;
}

#img8{
    filter: sepia(1);
    transition: filter 1s;
}

#img8:hover{
    filter: none;
}

#img9{
    filter: blur(4px);
    transition: filter 1s;
}

#img9:hover{
    filter: none;
}

#img10{
    filter: opacity(0.3);
    transition: filter 1s;
}

#img10:hover{
    filter: none;
}