@mixin formato_h1
{
    width: 100%;
    color: $naranja;
    text-align: center;
    text-transform: capitalize;
}

@mixin formato_caja
{
    background-color: $grisOscuro;
    border-radius: 10px;
    width: 95%;
    margin: 10px;
    padding: 10px;
}

@mixin display_flex($direccion,$alinH,$alinV)
{
    display: flex;
    flex-direction: #{$direccion};
    justify-content: #{$alinH};
    align-items: #{$alinV};
}