div{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:150px 100px 300px 100px;

    grid-template-areas: "head head "
                        "nav nav "
                        "aside section"
                        "footer footer";
    color: white;
}
header{
    grid-area: head;
    background-color: rgb(143, 28, 238);
}
nav{
    grid-area: nav;
    background-color: rgb(62, 183, 204);

}
aside{
    grid-area: aside;
    background-color: rgb(112, 24, 65);
}
section{
    grid-area: section;
    background-color: rgb(80, 31, 121);
}
footer{
    grid-area: footer;
    background-color: rgb(213, 28, 238);
}