.morado{
    background-color: rgb(190, 121, 247);
}

.gris{
    background-color: lightgray;
}

.verde{
    background-color: lightgreen;
}

.salmon{
    background-color: salmon;
}

.azul{
    background-color:lightblue ;
}

.amarillo{
    background-color: yellow;
}

.verdeOscuro{
    background-color: green;
}