body{
    display:flex;
    justify-content: center;
}

.recuadro1{
    margin: 50px;
    padding: 50px 10px;
    width: 300px;

    background-color: lightgrey;
    border-radius: 25px;
    box-shadow: 0 0 12px red inset,0 0 12px lime ;
}
