.especial{
    font-size: 1.5em;
    background-color: lightgray;
    font-family: 'Verdana';
    line-height: 2em;
    text-align: justify;
    text-indent: 60px;
}

.especial em{
    font-weight: bold;
    font-style: normal;
}
.especial strong {
    font-weight: normal;
    font-style: italic;
    background-color: #FF6;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3px;
}
.especial::first-line{
    color: blue;
    background-color: lightblue;
    font-variant: small-caps;
}

.especial::first-letter{
    font-size: 2em;
    font-family: 'Serif';
    color: blue;
}