.recuadro1{
    column-count:  3;
    background-color: lightgrey;
    border-radius:  15px;
    text-align: justify;
    margin:  50px;
    padding: 10px;
    column-rule: 1px solid red;
}

.recuadro2{
    column-count:  3;
    background-color: lightgrey;
    border-radius:  15px;
    text-align: justify;
    margin:  50px;
    padding: 10px;
    column-rule: 4px dotted red;
}

.recuadro3{
    column-count:  3;
    background-color: lightgrey;
    border-radius:  15px;
    text-align: justify;
    margin:  50px;
    padding: 10px;
    column-rule: 2px dashed blue;
}