div.contenedor{
    column-count: 2;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.recuadro1{
    margin: 50px;
    padding: 50px 10px;
    width: 300px;

    background-color: lightgrey;
    border-radius: 15px;
}

.recuadro2{
    margin: 50px;
    padding: 50px 10px;
    width: 300px;

    background-color: olive;
    border-radius: 25px 55px 55px 25px;
}